html {
  background-color: slategrey;
  margin: 0;
}

body {
  background-color: #410141;
}

hr {
  color: black;
}

a:link,
a:hover,
a:active,
a:visited {
  text-shadow: 0.03rem 0.03rem 0.02rem black, -0.02rem -0.02rem 0.02rem white;
  color: darkmagenta;
}

.btn:hover {
  border: 1.5px solid white;
}

.p-2 {
  text-indent: 2rem;
}

.title {
  text-shadow: 0.03rem 0.03rem 0.02rem black, 0.04rem 0.05rem 0.06rem white;
}

.fa-github-square {
  color: black;
  text-shadow: 0.03rem 0.03rem 0.01rem black, 0.04rem 0.05rem 0.06rem white;
}

.fa-linkedin-square {
  color: rgb(0, 119, 181);
  text-shadow: 0.03rem 0.03rem 0.01rem black, 0.04rem 0.05rem 0.06rem white;
}

.fa-stack-overflow {
  color: orange;
  text-shadow: 0.03rem 0.03rem 0.01rem black, 0.04rem 0.05rem 0.06rem white;
}

.box {
  -webkit-box-shadow: 0 0 0.6rem 0rem slategrey, 0 0 0.7rem 0.05rem white;
  box-shadow: 0 0 0.4rem 0rem slategrey, 0 0 0.2rem 0rem white;
  border: 0.04rem solid black;
}

#connect.card {
  text-shadow: 0.03rem 0.03rem 0.01rem black, 0.04rem 0.05rem 0.06rem white;
}

#name {
  background-color: teal;
}

/* html
	background-color: silver;
	height: 100%;
	width: 100%;
}

header {
	width: 100%;
}

body {
	background: black;
}

p {
	text-indent: 10px;
}

.name {
	margin: auto;
	padding-left: 1%;
	vertical-align: middle;
}

.navbar-nav {
	text-decoration: none;
}

.nav-item {
	float: left;
}

.main {
	background-image: url('../images/background1.jpg');
	background-size: contain;
	margin: auto;
	width: 100%;
}

.profile-picture {
	border-radius: 29%;
	border-style: hidden;
	border-width: 5px;
	float: left;
	height: 40%;
	padding: 10px;
	width: 25%;
}

.home-content {
	background: rgb(156, 22, 14);
	background: rgba(156, 22, 14, 0.5);
	border-color: black;
	border-radius: 5%;
	border-style: solid;
	border-width: 3px;
	float: none;
	margin: 1% 0 1% 1%;
}

.portfolio-content {
	background: rgb(157, 24, 42);
	background: rgba(157, 24, 42, 0.5);
	border-color: black;
	border-radius: 5%;
	border-style: solid;
	border-width: 2px;
	float: none;
	margin: 1% 0 1% 1%;
	padding: 1%;
}

.contact-content {
	background: rgb(36, 16 74);
	background: rgba(36, 16, 74, 0.5);
	border-color: black;
	border-radius: 5%;
	border-style: solid;
	border-width: 2px;
	float: none;
	margin: 1% 0 1% 1%;
	padding: 1%;
}

form {
	width: 100%;
}

.connect {
	background: rgb(64, 78, 98);
	background: rgba(64, 78, 98, 0.5);
	border-color: black;
	border-radius: 5%;
	border-style: solid;
	border-width: 2px;
	float: right;
	margin: 1% 1% 0 1%;
}

.line {
	background-color: teal;
	color: teal;
	width: 100%;
}

footer {
	background-color: #666666;
	display: inline;
	font-size: 10px;
	padding: 25px;
	text-align: center;
}

.gallery-left {
	border-color: black;
	border-radius: 5%;
	border-style: solid;
	border-width: 1px;
	float: left;
}

.gallery-right {
	border-color: black;
	border-radius: 5%;
	border-style: solid;
	border-width: 1px;
	float: right;
} */
